<div class="d-flex space justify-content-center fst-roboto card border-primary my-4 px-5 py-5 background">

    <app-bubles-animation></app-bubles-animation>

    <div class="row">
        <div class="col-lg-6 mt-5">
            <img src="/assets/about.jpg" class="img-fluid position-relative" alt="GourmetAcademy">
        </div>
        <div class="col">
            <div class="px-3">
                <h1 class="fst-marck"><i class="bi bi-shop"></i> Our Toy Shop</h1>
                <hr class="my-1">
                <div class="text-primary-emphasis fs-5">
                    <p>
                        The entrance to the toy store is like a gateway to a magical world for children and their
                        parents. Colorful displays surround the entrance, showcasing the newest and most popular toys
                        that immediately catch the attention of anyone stepping into the store.
                    </p>
                    <p>
                        Once inside, visitors find themselves in a spacious and cozy area filled with a variety of
                        colors and shapes. Shelves and racks are arranged in well-structured zones, with each dedicated
                        to a specific category of toys - from educational toys and puzzles to truly interactive robots
                        and building sets.
                    </p>
                    <p>
                        In the center of the store is a play area where children can test the toys before purchasing
                        them. It's a place where they feel free to express their imagination, create different
                        scenarios, and have fun with their friends.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>