<div class="box">

    <h1 class="text-white text-center fs-1 fst-kablammo">404</h1>

    <div class="box__ghost">
        <div class="symbol"></div>
        <div class="symbol"></div>
        <div class="symbol"></div>
        <div class="symbol"></div>
        <div class="symbol"></div>
        <div class="symbol"></div>

        <div class="box__ghost-container">
            <div class="box__ghost-eyes">
                <div class="box__eye-left"></div>
                <div class="box__eye-right"></div>
            </div>
            <div class="box__ghost-bottom">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <div class="box__ghost-shadow"></div>
    </div>

    <div class="box__description">
        <div class="box__description-container">
            <div class="box__description-title fst-kablammo">Something went wrong</div>
            <div class="box__description-text">It looks like we couldn't find the page you're looking for</div>
        </div>

        <a routerLink="/" class="box__button fst-kablammo">Home</a>

    </div>

</div>